{% extends "mysite/basebox.html" %}
{% block title %} Register {% endblock %}

{% block content %}
<div class="center">
<h1>Register</h1>
<form method="post">
    {% csrf_token %}
    
        <label>Username:</label>
        <input type="text" name="username" />
        <br>
        <label>Password:</label>
        <input type="password" name="password" />
        <br>
        <label>email:</label>
        <input type="email" name="email" />
        <br>
        <div class="center-button">
            <input type="submit" value="Create Account" />
            <button type="button" onclick="window.location.href='/login'">Go to Login</button>
        </div>
        {{ error }}
   
</form>
</div>
{% endblock %}
