{% extends "game/main.html" %}
{% block title %} Character {% endblock %}

{% block content %}

<h1 class="content-title">Character</h1>
<div class="center">
    <ul>
        <li>Name: {{character.name}}</li>
        <li>Health: {{character.currentHealth}}/{{character.maxHealth}}</li>
        <li>Damage: {{character.damage}}</li>
        <br>
        <li>Strength: {{character.strength}}</li>
        <li>Dexterity: {{character.dexterity}}</li>
        <li>Intelligence: {{character.intelligence}}</li>
    </ul>
</div>

{% endblock %}