{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>{% block title %} Basic Title {% endblock %}</title>
    </head>

    <body>
        <div class="header">
            <div class="header-buttons">
                <a href="http://192.168.0.192:8000/home">
                    <div class="header-button">Home</div>
                </a>
                <a href="http://192.168.0.192:8000/character">
                    <div class="header-button">Character</div>
                </a>

                <div class="header-button">Fight</div>
            </div>
        </div>

        <div class="container">

            {% block content %}{% endblock %}

        </div>

        <div class="footer">
            <h1>
                Such Footer, wow
            </h1>
        </div>
    </body>

</html>