{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>{% block title %} Basic Title {% endblock %}</title>
    </head>

    <body>
        <div class="header">
            <div class="header-buttons">
                <a href="/home">
                    <div class="header-button">Home</div>
                </a>
                <a href="/character">
                    <div class="header-button">Character</div>
                </a>

                <a href="/fight">
                    <div class="header-button">Fight</div>
                </a>

                <a href="/healer">
                    <div class="header-button">Healer</div>
                </a>
            </div>
        </div>



        <div class="footer">
            <h1 style="position:absolute;bottom:0;right:5%;">
                Such Footer, wow
            </h1>
        </div>

        <div class="character-container">
            <h1>{{character.name}}</h1>
            <p>Level: {{character.level}}</p>
            <p>EXP: {{character.experience}}</p>
            <p>HP: {{character.currentHealth}}/{{character.maxHealth}}</p>
        </div>

        <div class="container">

            {% block content %}{% endblock %}

        </div>
    </body>

</html>