{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>{% block title %} Basic Title {% endblock %}</title>
    </head>

    <body>
        <div class="navbar">
            <div class="navbar_grid_group_01">
                <a href="/character" class="navbar_grid_item navbar_grid_char">
                    <p>Character</p>
                </a>

                <a href="/home" class="navbar_grid_item navbar_grid_home">
                    <p>Home</p>
                </a>

                <a href="/fight" class="navbar_grid_item navbar_grid_fight">
                    <p>Fight</p>
                </a>

                <a href="/healer" class="navbar_grid_item navbar_grid_healer">
                    <p>Healer</p>
                </a>

                <a href="/shop" class="navbar_grid_item navbar_grid_shop">
                    <p>Shop</p>
                </a>

                <a href="/inventory" class="navbar_grid_item navbar_grid_inventory">
                    <p>Inventory</p>
                </a>               
            </div>
            
            <div class="navbar_grid_group_02 navbar_grid_item">
                <a href="/home">
                    <p>Home</p>
                </a>
            </div>
        
        </div>



        
        <!--
        <div class="character-container">
            <h1>{{character.name}}</h1>
            <p>Level: {{character.level}}</p>
            <p>EXP: {{character.experience}}</p>
            <p>HP: {{character.currentHealth}}/{{character.maxHealth}}</p>
        </div>
        -->

        <div class="container_main">
            
            {% block content %}{% endblock %}
            
        </div>
    
    </body>

</html>